*{
    margin: 0;
    padding: 0;
}
span{
    color: deepskyblue;

}
body {
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    height: auto;
    position: relative;
    font-family: "Asap", sans-serif;

  }
  
header{
    width: 100%;
    height: auto;
    background-image: url("../img/bg.png");
    background-size: cover;
    /* Adjust fit as needed */
    background-position: center;
    margin-bottom: 50px;    color: white;

}

header ul li .nav-link {
    text-decoration: none;
    color: white;
}
header .col-lg-6 .contents{
    padding: 20px;
    vertical-align: middle;
    padding-top: 50px;
    
}

header .col-lg-6 .image{
    text-align: end;
    padding: 20px;
}

.sec2 .cards {
    text-align: center;
}

.sec2 .img{
    padding: 50px;
}
.sec2 ul{
    padding: 0;
    margin: 0;
}
.sec2 .content{
    vertical-align: middle;
    align-items: center;
    padding-top: 50px;

}
.sec2 .row{
    padding-top: 100px;
}

.sec2 ul li{
    text-decoration: none;
    list-style-type: none;
    text-align: start;
}
.sec2 .li-img{
    width: 32px;
    padding: 10px;
}

.sec3{
    width: 100%;
    height: auto;
    background-image: url("../img/Prostokąt\ 4.png");
    background-size: cover;
    /* Adjust fit as needed */
    background-position: center;
    margin-bottom: 50px;    color: white;
    padding-top: 50px ;
    text-align: center;

}
.sec3 h2{
    padding: 5px 20px;
    margin-bottom: 70px;
}
.sec3 h6{
    padding: 5px 20px;
    margin: 0;
}
.sec3 p{
    text-align: start;
    padding-left: 20px;
    margin: 0;
    font-style: italic;
    font-weight: 200;
}
.sec3 .info{
    margin: 15px;    margin-bottom: 40px;

}
.sec3 .footer{
    background-color: black;
    padding: 30px;
}.sec3 .footer p{
 text-align: end;
}
.sec3 .footer h2{
font-weight: 500;
margin: 0;
text-align: end;


}
.sec3 .footer span{
    color: white;
    font-weight: 300;
    text-align: end;

    
    }

    .price {
        padding: 50px;
        text-align: center;    

    }

    .price h2{
        font-size: 35px;
    font-weight: 700;
    margin-bottom: 70px;
    }


    .price .box {
        border: solid rgba(0, 0, 0, 0.144) 1px;
    }

    .price .box h3{
        border-bottom: solid rgba(0, 0, 0, 0.144) 1px;
        padding: 25px 22px;
        font-size: 20px;
        font-weight: 700 !important;
    }
    .price .box .part-2{
        border-bottom: solid rgba(0, 0, 0, 0.144) 1px;
        padding: 25px;
   
    }
    .price .box .part-2 h4{
        padding: 25px;
        font-size: 40px;
        margin: 0px;
        font-weight: 700;
    }
    
    .price .box p{
        border-bottom: solid rgba(0, 0, 0, 0.144) 1px;
        padding: 25px;
    }

    .price .box .butt{
        padding: 25px;
    }

    .price .box a{
        text-decoration: none;
        padding: 10px 20px;
        color: #578bd1;
        font-size: 14px;
    }